#fondo {
  background-color: rgb(252, 223, 239);
}

#nav {
  background-color: deeppink;
}

#ingresarModalLabel {
  color: deeppink;
}

#texto {
  color: deeppink;
}

#text {
  color: rgb(252, 223, 239);
  font-weight: bold;
}

img {
  width: 80%;
}

.logged-in, .logged-out {
  display: none;
}

#map {
  width: 100%;
  height: 640px;
}