body {
  background-color: palevioletred
}

#mapa {
  width: 100%;
  height: 500px;
}

.resaltado {
  color: palevioletred;
  border-color: palevioletred;
  background-color: white;
  border-radius: 5px;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resaltado:hover {
  background-color: palevioletred; /* Green */
  color: white;
}

#encabezado {
  color: palevioletred;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lista {
  color: palevioletred;
}
