body {
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,0.700717787114846) 0%, rgba(253,45,84,1) 100%);
}

#menu {
  background-color: white;
}

#services {
  color: rgb(255, 0, 43);
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

#we {
  color:rgb(255, 0, 43);
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ubication {
  color: rgb(255, 0, 43);
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contact {
  color: rgb(255, 0, 43);
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo {
  height: 120px;
}

#carrusel {
  width: 100%;
  max-height: 550px;
  align-content: center;
}

#contenedor {
  background-color: white;
}

#contenedor1 {
  background: rgb(255,0,65);
  background: linear-gradient(0deg, rgba(255,0,65,0.700717787114846) 0%, rgba(242,0,0,1) 100%);
}

#contenedor2 {
  background-color: white;
}

#text {
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#text2 {
  color: white;
  font-weight: bold;
  font-size: small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#text3 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#slogan {
  background: rgb(255,0,65);
  background: linear-gradient(0deg, rgba(255,0,65,0.700717787114846) 0%, rgba(242,0,0,1) 100%);
}

#slogantext {
  color: white;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

#instagram {
  height: 30px;
  width: 30px;
}