body {
  background-color: black;
}

.boton1 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #8b48ff, #ff5dc4);
}

.boton2 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #13ff13, #f2ff38);
}

.boton3 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #53f4ff, #0385ff);
}

.boton4 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #ec0404,#ff006a);
}

.boton5 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #ffe600, #ff7b00);
}

.boton6 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #ff009d, #d53a9d);
}

.boton7 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #f50101, #ff7112);
}

.boton8 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #f700ff, #00ffb3);
}

.boton9 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #ff008c, #1100ff);
}

.boton10 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #00f7ff, #8000a7);
}

.boton11 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #bf00d8, #e5ff00);
}

.boton12 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #00ffea, #ff009d);
}

.boton13 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #34dd00, #ff0278);
}

.boton14 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #e5ff00, #00ffff);
}

.boton15 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #1900ff, #02ffdd);
}

.boton16 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #ff006a, #c1fff7);
}

.boton17 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #1eff00, #ffaf02);
}

.boton18 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #ff3995, #d502ff);
}

.boton19 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #00ffff, #03ff25);
}

.boton20 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #b704db, #2acece);
}

.boton21 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #9ceb91, #ff9900);
}

.boton21 {
  background: none;
  text-decoration: inherit;
  font-family: system-ui;
  font-size: 1rem;
  padding: 1rem 2rem;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  color: white;
  border-image-source: linear-gradient(to left, #f81748, #1ff591);
}

.container-fluid {
  text-align: center;
}

.texto {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
